body{
  margin:0px;
 background-color: #325886;
   font-family: 'Raleway', sans-serif;
 

}

.container{
  border: 1px solid #FEF265;
  width:50%;
  background-color:#FEF265;
  display: block;
    margin-left: auto;
    margin-right: auto;
   -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
 #clockTime{
  text-align: center;
}
h3{
  text-align: center;
    padding-top: 0px;
    line-height: 2;
}

img{
  width:15%;
  display: block;
    margin-left: auto;
    margin-right: auto;
  border:1px solid black;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}